@font-face{
    font-family: fuente1;
    src: url('../font/Audiowide-Regular.ttf')
}
@font-face{
    font-family: fuente2;
    src: url('../font/Baumans-Regular.ttf')
}
body{
    font-family: sans-serif;
    background: #ffffff;
    will-change: transform 
}

.container{
    display: grid;
    height: 99.97vh;
    grid-template: 8vh 92vh / minmax(240px,1fr) 5fr;
}
.header,.icon,.indice{
    background: #252525;
    /* border: #0fd5ca 2px solid; */

}

.header{
    border-left: none;
    /* background: #000000; */
    font-family: fuente2;
    font-size: 6vh;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 5px 5px 20px;
    display: flex;
    align-items: center;
}
.icon figure img{
    width: 8vh;
}

.icon{
     border-right: none;
     border-bottom: none;
}
.header b{
    margin: 0 auto;
}
.header span{
    color: #13b1f0;
    text-shadow: #13b1f0 5px 5px 20px;
}
.indice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contenido{
    position: relative;
    display: grid;
    /* position: relative; */
    grid-template:  100% / repeat(4,100%);
    overflow: hidden;
}

.indice--header{
    display: inherit;
    flex-direction: inherit;
    /* margin: 15vh 0; */
    width: 70%;
}
.indice--footer{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-bottom: 2vh;
}
.indice a{
    padding: 1vh 1vw;
    font-size: .87vw;
    color: #25ccff;
    text-decoration: none;
    margin: 10px 0;
    border: #12321211 3px solid;
    border-bottom: #6320ee 3px solid;
}
.indice--header > a:active .header{
    background: #0978a3
}
.indice a:hover{
    background: #13b1f0c5;
    border-bottom: #0978a3 3px solid;
    transition: all 750ms;
    color: #6320ee;
}
i{
    color: #25ccff;
    font-size: 2.5vw;
    margin: 4vh 0;
}

.contenido{
    box-sizing: border-box;

}
.inicio{
    display: flex;
    flex-direction: column;
    /* padding: 10vh 2vw; */
    /* background: linear-gradient(#7e45da,#25ccff); */
    background-size: 100%;
    background-repeat: no-repeat;

}
.item--pag{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    position: relative;
    animation-fill-mode: forwards;
}
h3{
    color: #0a0a0a;
    font-size: 3vw;
    margin: 50px 0 0 10vw;
}
.inicio-container--nuevos ul{
    width: 100%;
    height: 33vh;
    overflow: hidden;
    position: relative;
    display: flex;
}
.inicio-container--nuevos ul li{
    position: absolute;
    width: 100%;
    height: 100%;
}
.inicio-container--nuevos a{
    /* background: #fefcff7c;
    border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    color: rgb(3, 3, 3);
    text-decoration: none;
}
.p1{
    height: 100%;
    width: 100%;
    animation: cambiooo 350ms linear forwards 1;
    box-sizing: border-box;
}
.inicio-container--nuevos li img{
    height:16.1vw;
    margin-right: 20vw;
}
.inicio-container--nuevos li span{
    width: 30%;
    display: inline-block;
    margin: 4vh 0 0 10vw;
    font-size: 1vw

}
span p{
    font-size: .8vw;
    margin-top: 10vh
}
#a1{
    position: sticky;
}
#a2{
    left: -100vw;
    position: absolute;
    /* animation-direction: alternate; */
    /* background: #0978a3; */
    /* animation-delay: 3100ms; */
}

@keyframes aparecer {
    0%{
        left: -100vw;
    }
    100%{
        left: 100px;
    }
}
@keyframes alejar{
    0%{
        left: 100px;
    }
    100%{
        left: 100vw;
        opacity: 0;
    }
}

@keyframes cambiooo {
    0%{
        transform-origin: 50% 100%;
        opacity: 0;
        transform: scale(.1)
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes cambioooInicio {
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(0)
    }
}
@keyframes cambiooo2 {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%)
    }
}
@keyframes cambiooo3 {
    0%{
        transform: translateX(-100%)
    }
    100%{
        transform: translateX(calc(-100% * 2))
    }
}
@keyframes cambiooo4 {
    0%{
        transform: translateX(-200%)
    }
    100%{
        transform: translateX(calc(-100% * 3))
    }
}