@font-face{
    font-family: fuente1;
    src: url('../font/Audiowide-Regular.ttf')
}
@font-face{
    font-family: fuente2;
    src: url('../font/Baumans-Regular.ttf')
}
body{
    font-family: sans-serif;
    background: #ffffff;
}

.container{
    display: grid;
    height: 99.97vh;
    grid-template: 8vh 92vh / 1fr 5fr;
}
.header,.icon,.indice{
    background: #000000;
    border: #0fd5ca 2px solid;
    
}
.header{
    border-left: none;
    background: #000000;
    font-family: fuente2;
    font-size: 6vh;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 5px 5px 20px;
    display: flex;
    align-items: center;
}
.icon figure img{
    width: 8vh;
}

.icon{ 
     border-right: none;
     border-bottom: none;
}
.header b{
    margin: 0 auto;
}
.header span{
    color: #13b1f0;
    text-shadow: #13b1f0 5px 5px 20px;
}
.indice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
.contenido{
    display: grid;
    position: relative;
    grid-template: repeat(4,100%) / 1fr;
    overflow: hidden;
}
.item--pag{
    background: #12312123;
    border: 1px solid pink;
    border-radius: 100px
}
.indice--header{
    display: inherit;
    flex-direction: inherit;
    /* margin: 15vh 0; */
    width: 70%;
}
.indice--footer{
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-bottom: 2vh;
}
.indice a{
    padding: 1vh 1vw;
    font-size: .87vw;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    background: linear-gradient(#6320ee,#0fd5ca);
    border-radius: 25px;
} 
i{
    color: white;
    font-size: 2.5vw;
    margin: 4vh 0;
}
